*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
}
main{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    /* flex: 1; */
}
/* main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);

} */
.top{
    background-color: #fff;
    padding: 2em;
    width: 35em;
    /* grid-area: 1/1/1/3; */
}
.top h3{
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 15px;
    color: rgb(50, 192, 192);
}
.p-top{
    color: rgb(196, 223, 46);
    font-weight: 700;
}
.text{
    color: #fff;
}
p{
    font-size: 15px;
    padding-bottom: 8px;
    color: rgb(158, 157, 157);
}
.bottom{
    display: flex;
    width: 35em;
}
.bottom .left{
    background-color: rgb(45, 148, 127);
    padding: 2em;
    width: 100%;
}
.bottom .right{
    background-color: rgb(43, 202, 170);
    padding: 2em;
    width: 100%;
}
ul, li{
    list-style: none;
    color: rgb(226, 222, 222);
    padding: 2px 0;
}
.pbottom{
    color: #fff;
    padding-bottom: 10px;
}
.pright{
    padding-bottom: 10px;
    color: #fff;
}
.cash{
    font-size: 30px;
    font-weight: 800;
}

.pright{
    padding-bottom: 10px;
    color: #fff;
}
.cash{
    font-size: 30px;
    font-weight: 800;
}
button{
    padding: 15px 10px;
    width: 200px;
    margin-top: 10px;
    background-color: rgb(196, 223, 46);
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #fff;
}



@media  screen and (max-width: 626px) {
    .top,
    .bottom {
        width: 25em;
    }

    .bottom {
        flex-direction: column;
    }
}

@media screen and (max-width: 438px) {
    .top,
    .bottom {
        width: 20em;
    }
}

@media  screen and (max-width: 340px) {
    .top,
    .bottom {
        width: 18em;
    }

}






















