/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    height: 100vh;
}
.land {
    height: 650px;
    background-image: url(./image/pexels-dominika-roseclay-1982485.jpg);
}
.logo {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

li, a {
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #422536;
}
li, a:hover{
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav-links li {
    display: inline;
    padding: 0 15px;
}
.intro h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 30px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 200px;
    color: #422536;
}
.intro h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
    margin-top: 20px;
    color: #422536;
}
.action {
    padding: 15px 20px;
    /* background-color: #dfa4c7; */
    border: none;
    margin-top: 30px;
    margin-left: 650px;
    border-radius: 5px;
    color: #422536;
    cursor: pointer;
}
.action:hover {
    padding: 15px 20px;
    border:1px solid #422536;
    
}
.second-page {
    display: flex;
    height: 80vh;
    width: 100%;
}
.left {
    height: 100%;
    width: 65%;
    background-color: #dfa4df;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    width: 50%;
}
img{
    height: 100%;
    width: 100%;
}
h2 {
    line-height: 50px;
    /* padding-bottom: 150px; */
}